/* FormSpinner */
.spinnerBox {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(170, 241, 193, 0.3);
  z-index: 50;
}
.spinner {
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 6px;
}
.FormSpinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.FormSpinner::before,
.FormSpinner::after {
  content: '';
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.FormSpinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.FormSpinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
